@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@layer components{
  .sidebar-btn{
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
  }
}
.gradient-home-page {
  background: #fceabb;
  background: linear-gradient(to right, #fceabb, #f8b500);
}
.active-nav-menu {
  position: absolute;
  position: absolute;
  top: 89px;
  left: 0;
  height: 100vh;
  width: 100%;
  /* box-shadow: 3px 4px 34px #3333; */
  background-color: #fceabbd6;
  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  transition: all 0.5s ease-in;

  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.active-nav-menu.active-el {
  opacity: 1;

  padding-top: 48px;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  transition: all 0.5s ease-in;
}
.active-nav-menu li {
  margin: 16px 0;
}
