@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

.gradient-home-page {
  background: #fceabb;
  background: linear-gradient(to right, #fceabb, #f8b500);
}
.active-nav-menu {
  position: absolute;
  flex-direction: column;
  gap: 0;
  top: 90px;
  text-align: start;
  width: 100%;
  transition: 0.7s ease-in-out;
  background-color: #fceabbd6;
  padding: 10px;
  height: 100vh;
  box-shadow: 3px 4px 34px #3333;
  z-index: 1;
  gap: 18px;
  display: flex;
}
.active-nav-menu.active {
  left: 0;
  text-align: center;
}
.active-nav-menu li {
  margin: 16px 0;
}
